/* src/components/LandingHeader.js */
.landing-header {
    background-color: #001122;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.header-content {
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 64px;
    padding: 0 5px 0;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: left;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: right;

}



@media (max-width: 1100px) {
    .header-content {
        display: flex;
        align-items: center;
    }

    .fist {
        padding-left: 150px;
    }
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: row;
    font-size: 18px;
}

.nav ul li a {
    color: #E0E0E0;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #B3E5FC;
}


.hamburger {
    background: none;
    border: none;
    color: #EAEAEA;
    font-size: 24px;
    cursor: pointer;
    padding-right: 15px;
    padding-top: 5px;
}

.hamburger:hover {
    color: #B3E5FC;
}


.magnifying-glass {
    background: none;
    border: none;
    color: #EAEAEA;
    font-size: 24px;
    cursor: pointer;
    padding-top: 5px;
}

.magnifying-glass:hover {
    color: #B3E5FC;
}

.fist {
    background: none;
    border: none;
    color: #EAEAEA;
    font-size: 24px;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 25px;
    padding-top: 5px;

}

.fist:hover {
    color: #B3E5FC;

}

.search-bar {
    border: none;
    border-radius: 1px;
    background-color: #002B3E;
    justify-content: center;
    color: #EAEAEA;
    padding: 15px 15px 15px 15px;
}

.website-title {
    background: none;
    border: none;
    color: #B3E5FC;
    font-size: 24px;
    font-family: 'Rubik', serif;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;
}

.dropdown-search {
    position: absolute;
    top: 40px;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    z-index: 11;
}

.dropdown-search-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-search-item:hover {
    background-color: #f0f0f0;
}

.no-results {
    color: gray;
    font-style: italic;
    text-align: center;
    cursor: default;
}